@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none !important;
  outline: none !important;
  transition: all 0.2s linear;
  font-family: "Exo 2", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
}

:root {
  --violet:#ebddf1;
  --violet2:#dfc5ec;
  --violet3:#d8b3eb;
  --violet4:#c998e2;
  --violet5:#bd73e2;
  --violet6:#a544d6;
  --violet7:#a544d6;
  --violet8:#8e2cbe;
  --violet9:#70199b;
  --violet10:#4d106b;
  --violet11:#42106b;
  --yellow:#fafaf6;
  --yellow1:#f8f8e4;
  --yellow2:#e2e0db;
  --yellow3:#dbd7ca;
  --yellow4:#d6d0ba;
  --yellow5:#e7ddb6;
  --yellow6:#f5e7af;
  --yellow7:#ffeba2;
  --yellow8:#fde077;
  --yellow9:#fdd852;
  --yellow10:#ffcc14;
  --shin-orange:rgb(255, 153, 0);
  --orange1:rgba(255, 248, 236, 0.774);
  --orange2:rgb(255, 248, 236);
  --orange3:rgb(252, 241, 222);
  --orange4:rgb(252, 235, 204);
  --orange5:rgb(255, 233, 193);
  --orange6:rgb(250, 224, 177);
  --orange7:rgb(247, 212, 147);
  --orange8:rgb(248, 204, 123);
  --orange9:rgb(247, 197, 104);
  --orange10:rgb(248, 191, 85);
  --brown11:rgb(185, 121, 0);
  --brown12:rgb(151, 99, 1);
  --red:#ffdada;
  --red2:#f8baba;
  --red3:#f59b9b;
  --red4:#f78484;
  --red5:#f56e6e;
  --red6:#f15a5a;
  --red7:#f34545;
  --red8:#f53030;
  --red9:#f51e1e;
  --red10:#ff0000;
  --pink:rgb(255, 25, 82);
  --transparent-green0:#738d7b17;
  --transparent-green:#00ff4c3f;
  --green:#edfcf1;
  --green1:#dbf7e3;
  --green2:#bdf5ce;
  --green3:#7ef8a3;
  --green5:#27fc67;
  --green6:#07fc50;
  --green7:#03ce40;
  --green8:#00b135;
  --green9:#03912e;
  --green10:#017524;
  --olive1:#027a7a;
  --olive2:#026b6b;
  --olive3:#015050;
  --olive4:#004242;
  --olive5:#013535;
  --milky1:rgb(208, 241, 253);
  --milky2:rgb(183, 233, 253);
  --aqua:#d7f8f8;
  --aqua2:#c7ffff;
  --aqua3:#11e9e9;
  --aqua4:#00c7c7;
  --shin-blue:#60c8fc;
  --shin-blue1:#00b7ff;
  --shin-blue2:#38baf9;
  --shin-blue3:#15acf8;
  --shin-blue4:#05a5f5;
  --shin-blue5:#0077ff;
  --shin-blue6:#0464d1;
  --shin-blue7:#0555b1;
  --shin-blue8:#044794;
  --shin-blue9:#0c3e77;
  --blue:#eef2f7;
  --blue1:#e8ebf0;
  --blue2:#c9d3df;
  --blue3:#acbfd4;
  --blue4:#6a7a8d;
  --blue5:#424b64;
  --blue6:#2b3a5f;
  --blue7:#0734ca;
  --blue8:#052aa1;
  --blue9:#162753;
  --dark-blue:#343a40;
  --dark-blue2:#2a2e35;
  --dark-blue3:#202733;
  --transparent-gray:rgba(201, 183, 183, 0.075);
  --transparent-gray2:rgba(214, 214, 214, 0.192);
  --light-gray:#8d8d8d;
  --gray:#111;
  --gray1:#222;
  --gray2:#333;
  --gray3:#444;
  --gray4:#666;
  --gray5:#777;
  --gray6:#888;
  --gray7:#999;
  --gray8:#c9c9ca;
  --gray9:#e5e5e7;
  --gray10:#ebebee;
  --gray11:#f0f0f8;
  --gray12:#f2f2f7;
  --gray-yellow0:rgb(235, 236, 201);
  --gray-yellow:rgb(221, 223, 150);
  --gray-yellow1:rgb(214, 216, 125);
  --gray-yellow2:rgb(182, 182, 97);
  --gray-yellow3:rgb(139, 139, 62);
  --gray-yellow4:rgb(112, 112, 49);
  --gray-yellow5:rgb(128, 119, 0);
  --gray-yellow6:rgb(90, 84, 0);
  --orange-red:rgb(255, 87, 25);
  --orange-red1:#ff2002;
  --orange-red2:rgb(255, 38, 0);
  --orange-red3:#d33505;
  --darkbrown:rgb(88, 48, 33);
  --darkbrown1:rgb(83, 59, 50);
  --darkred:rgb(75, 0, 0);
  --darkred1:rgb(99, 49, 49);
  --white:#fff;
  --white2:#fff;
  --black:#000;
  --black2:#000;
  --primary:#ff5a3c;
  --primary1:#e20202;
  --primary2:#fb3c7f;
  --primary3:#f010f0;
  --primary4:#eed0ee;
  --primary5:#191e2e;
  --primary6:#2a2e3a;
  --primary7:#091a50;
  --primary8:#072380;
  --primary9:#0669aa;
  --primary10:#013629;
  --primary11:#1b011f;
  --primary12:#106b6b;
  --primary13:#004242;
  --primary14:#00c7c7;
  --primary15:#00658d;
  --primary4:#ffbb55;
  --background-color:#f8f9fa;
  --color-info-dark:#7d8da1;
  --color-dark:#363949;
  --color-light:rgba(132, 139, 200, 0.18);
  --color-primary-varient:#111e88;
  --color-dark-varient:#677483;
  --font-mont:"Mont", cursive;
  --font-Rale: "Rale", cursive;
  --box-shadow-varient:0 0.5rem 1.5rem var(--color-light);
  --box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  --box-shadow1:0 0.1rem 1rem rgba(2, 2, 2, 0.4);
  --box-shadow2:0 0.5rem 1.5rem #0d2e2e23;
  --box-shadow3:0 0.3rem 4rem #252c2c2f;
  --box-shadow4:0 0 6px #000;
  --box-shadow5:0 0 3px #eee;
  --box-shadow6:0 0.1rem 1rem #e9290779;
  --box-shadow7:0 0 6px #00c7c7;
  --box-shadow8:0 0 6px #3356ca;
  --box-shadow9:0 0.1rem 0.5rem #fce07b46;
  --box-shadow10:0 1px 0.9rem #fd9103c5;
  --box-shadow11: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  --text-shadow:0 0 5px rgb(5, 5, 5);
  --text-shadow2:0 0 4px #fff;
  --text-shadow3:0 0 4px #00ffff9f;
  --text-shadow4:0 0 4px rgb(6, 150, 42);
}

html {
  font-size: 83% !important;
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  html {
    font-size: 73% !important;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 63% !important;
  }
}
body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

.d-flex-r-st-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.d-flex-r-st-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-r-st-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.d-flex-r-c-st {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.d-flex-r-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.d-flex-r-c-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.d-flex-r-bt-st {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.d-flex-r-bt-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.d-flex-r-bt-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.d-flex-r-end-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.d-flex-r-end-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-r-end-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.d-flex-c-st-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.d-flex-c-st-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-c-st-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.d-flex-c-c-st {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.d-flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-c-c-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.d-flex-c-bt-st {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.d-flex-c-bt-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.d-flex-c-bt-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.d-flex-c-end-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.d-flex-c-end-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-c-end-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(125deg, #fb3c7f 0%, #ffc05e 100%);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  margin: 0;
}

section {
  padding: 2rem 7%;
}

/******************* # BUTTONS ********************/
.add-btn {
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--gray1);
  border: none;
  background-color: transparent;
}

.add-btn:hover {
  color: var(--gray1);
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 1.4rem;
  outline: 0;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 0;
  transition: all 0.6s linear;
}

.btn:hover {
  color: var(--black);
  background-color: transparent;
}

.btn2 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white2);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow1);
  transition: all 0.3s linear;
  background-color: #397dfc;
}

.btn2:hover {
  box-shadow: 0 0.1rem 1rem #0059ff;
}

.btn3 {
  padding: 0.3rem 1.3rem;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2rem;
  color: var(--white2);
  border: 1px solid var(--blue7);
  background-color: var(--blue7);
  transition: all 0.3s linear;
}

.btn3:hover {
  background-color: transparent;
  color: var(--blue7);
}

.btn4 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  color: var(--white);
  box-shadow: var(--box-shadow-varient);
  background: linear-gradient(to right, #9b059b, rgb(64, 4, 121) 80%);
}

.btn4:hover {
  color: var(--white);
  background: linear-gradient(to right, #056c9b, rgb(158, 108, 204) 80%);
}

.btn5 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.1rem;
  color: var(--primary5);
  outline: none;
  border: 1px solid var(--yellow10);
  background: var(--yellow10);
  box-shadow: var(--box-shadow-varient);
}

.btn5:hover {
  background: transparent;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin: 0;
  color: var(--gray1);
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

/********************
 # Header
********************/
header .top-nav {
  padding: 0.3rem 3rem;
  background-color: var(--olive4);
}
header .top-nav .col-left #currency-select {
  gap: 0.1rem;
  cursor: pointer;
}
header .top-nav .col-left #currency-select span {
  font-size: 0.9rem;
  color: var(--white);
}
header .top-nav .col-left #currency-select img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  margin-right: 0.3rem;
  object-fit: cover;
}
header .top-nav .col-left #currency-select i {
  color: var(--white);
}
header .top-nav .col-right ul li a {
  color: var(--white);
  text-transform: capitalize;
}
header .top-nav .col-right ul button {
  text-transform: capitalize;
}
header .top-nav .col-right ul #open-mHeader {
  display: none;
  cursor: pointer;
}
header .main-header {
  background-color: var(--olive4);
}
header .main-header .upper {
  padding: 0.4rem 3rem;
  border-top: 1px solid var(--olive3);
  border-bottom: 1px solid var(--olive3);
}
header .main-header .upper .web-title {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white);
}
header .main-header .upper .search-block {
  width: 50%;
  border-radius: 1rem;
  background-color: var(--white);
  padding: 0.3rem 0.4rem;
}
header .main-header .upper .search-block input[type=search] {
  flex: 1 1 10rem;
}
header .main-header .upper .icons {
  gap: 1rem;
}
header .main-header .upper .icons i {
  color: var(--white);
  cursor: pointer;
}
header .main-header .bottom {
  padding: 0 3rem;
}
header .main-header .bottom nav ul {
  gap: 0.5rem;
}
header .main-header .bottom nav ul li {
  padding: 0.5rem 0.7rem;
}
header .main-header .bottom nav ul li a {
  color: var(--white);
  text-transform: capitalize;
}
header .main-header .bottom nav ul li:hover {
  background-color: var(--olive3);
}

@media (max-width: 768px) {
  header .top-nav {
    padding: 0.3rem 1rem;
    z-index: 100000;
  }
  header .top-nav .col-right ul #open-mHeader {
    display: block;
  }
  header .main-header {
    position: fixed;
    top: 0;
    left: -95%;
    width: 80%;
    height: 100%;
    visibility: hidden;
    z-index: 1000;
    transition: all 0.1s ease-in-out;
  }
  header .main-header .upper {
    padding: 0.4rem 2rem 0.4rem 1rem;
    margin-top: 1rem;
    border-top: none;
    border-bottom: none;
  }
  header .main-header .bottom {
    padding: 0.4rem 2rem 0.4rem 1rem;
  }
  header .main-header .bottom nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  header .main-header .bottom nav ul li {
    width: 100%;
    padding: 0.5rem 0.7rem 0.5rem 0.1rem;
  }
  header .main-header.mobile-header {
    left: 0;
    visibility: visible;
    box-shadow: 100vh 100vh 100vh 100vh rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 600px) {
  header .top-nav .col-left #currency-select span {
    font-size: 0.8rem;
  }
  header .top-nav .col-right ul li a {
    font-size: 0.8rem;
  }
  header .main-header {
    width: 90%;
  }
  header .main-header .upper .web-title {
    font-size: 1rem;
  }
  header .main-header .bottom nav ul li a {
    font-size: 0.9rem;
  }
}
/********************
 # Home
********************/
.banner-section {
  position: relative;
  padding-right: 2%;
  background: radial-gradient(var(--gray9), var(--gray6));
}

.banner-section .banner-slide-item {
  width: 100%;
  flex-wrap: wrap;
}

.banner-section .banner-slide-item .col-left {
  flex: 1 1 20rem;
}

.banner-section .banner-slide-item .col-left .semi-title {
  font-size: 0.9rem;
  color: var(--pink);
  font-weight: 550;
  text-transform: capitalize;
}

.banner-section .banner-slide-item .col-left .semi-title svg {
  margin-right: 0.2rem;
}

.banner-section .banner-slide-item .col-left p {
  margin-bottom: 0.9rem;
  width: 50%;
}

.banner-section .banner-slide-item .col-left button {
  padding: 0.4rem 0.9rem 0.4rem 1.3rem;
}

.banner-section .banner-slide-item .col-left button svg {
  margin-left: 0.5rem;
}

/* Animation */
.banner-section .banner-slide-item:first-child .col-left .semi-title {
  animation: movebottom 0.5s linear;
}

.banner-section .banner-slide-item:first-child .col-left h2 {
  animation: movebottom 0.5s linear;
}

.banner-section .banner-slide-item:first-child .col-left p {
  animation: moveleft 0.5s linear;
}

.banner-section .banner-slide-item:first-child .col-left button {
  animation: movetop 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(2) .col-left .semi-title {
  animation: movebottom 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(2) .col-left h2 {
  animation: movebottom 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(2) .col-left p {
  animation: moveright 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(2) .col-left button {
  animation: movetop 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(3) .col-left .semi-title {
  animation: movebottom 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(3) .col-left h2 {
  animation: moveleft 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(3) .col-left p {
  animation: moveright 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(3) .col-left button {
  animation: movetop 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(4) .col-left .semi-title {
  animation: movebottom 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(4) .col-left h2 {
  animation: moveright 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(4) .col-left p {
  animation: moveleft 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(4) .col-left button {
  animation: movetop 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(5) .col-left .semi-title {
  animation: movebottom 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(5) .col-left h2 {
  animation: moveleft 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(5) .col-left p {
  animation: moveright 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(5) .col-left button {
  animation: movetop 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(6) .col-left .semi-title {
  animation: movebottom 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(6) .col-left h2 {
  animation: moveright 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(6) .col-left p {
  animation: moveleft 0.5s linear 1s backwards;
}

.banner-section .banner-slide-item:nth-child(6) .col-left button {
  animation: movetop 0.5s linear 1s backwards;
}

@keyframes movebottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes movetop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.banner-section .banner-slide-item .col-right {
  flex: 1 1 20rem;
  position: relative;
  z-index: 0;
}

.banner-section .banner-slide-item .col-right img {
  width: 50%;
}

/* animation */
.banner-section .banner-slide-item:first-child .col-right img {
  animation: showimg 0.3s linear;
}

.banner-section .banner-slide-item:nth-child(2) .col-right img {
  animation: showimg 0.3s linear;
}

.banner-section .banner-slide-item:nth-child(3) .col-right img {
  animation: scaleimg 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(4) .col-right img {
  animation: scaleimg 0.5s linear;
}

.banner-section .banner-slide-item:nth-child(5) .col-right img {
  animation: rotateyimg 0.8s linear;
}

.banner-section .banner-slide-item:nth-child(6) .col-right img {
  animation: rotateimg 0.8s linear;
}

@keyframes showimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleimg {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotateyimg {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateimg {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.banner-section #prev,
.banner-section #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  border: 1px solid var(--gray5);
  background-color: var(--gray5);
  z-index: 100;
  opacity: 0;
  transition: all 0.3s linear;
}

.banner-section #prev {
  left: -1rem;
}

.banner-section #next {
  right: -1rem;
}

.banner-section:hover #prev {
  left: 1%;
  opacity: 1;
}

.banner-section:hover #next {
  right: 1%;
  opacity: 1;
}

.banner-section #prev:hover {
  background-color: transparent;
}

.banner-section #next:hover {
  background-color: transparent;
}

@media (max-width: 1000px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .banner-section .banner-slide-item .image {
    padding-top: 2rem;
  }
  .banner-section #prev,
  .banner-section #next {
    top: 80%;
  }
}
/********************
 # Quality
********************/
.quality-section .container svg {
  color: var(--blue7);
}

.quality-section .container .content h5 {
  text-transform: capitalize;
}

.quality-section .container .content p {
  text-transform: capitalize;
  font-size: 15px;
}

/********************
 # promo
********************/
.promo-section .section-container {
  gap: 1rem;
  flex-wrap: wrap;
}
.promo-section .section-container .card-item {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 20rem;
  height: 12rem;
  gap: 1rem;
  padding: 2%;
  padding-right: 0.5%;
  background-color: var(--gray10);
}
.promo-section .section-container .card-item .content {
  padding: 0;
  width: 60%;
}
.promo-section .section-container .card-item .content h3 {
  font-size: 1.2rem;
  font-weight: 1000;
}
.promo-section .section-container .card-item .content p {
  font-size: 1.1rem;
  color: var(--gray4);
  text-transform: uppercase;
}
.promo-section .section-container .card-item .content .btn5 {
  margin-top: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.promo-section .section-container .card-item .image {
  width: 40%;
}
.promo-section .section-container .card-item .image img {
  width: 90%;
}

@media (max-width: 768px) {
  .promo-section .card-item {
    min-height: 11rem;
  }
}
/********************
 # offers
********************/
.offers-section .tabs {
  gap: 1.5rem;
  margin: 1rem 0;
}
.offers-section .tabs li {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}
.offers-section .tabs li.active::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--yellow9);
}
.offers-section .tabs li.active::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.6rem;
  border-style: solid;
  border-color: var(--yellow9) transparent transparent transparent;
}
.offers-section .inner-col {
  padding: 0;
  padding-top: 3rem;
  background-color: var(--white);
}
.offers-section .inner-col .offersblock {
  position: relative;
}
.offers-section .inner-col .offersblock .product-item {
  overflow: hidden;
  position: relative;
  /* content */
}
.offers-section .inner-col .offersblock .product-item .image {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s linear;
}
.offers-section .inner-col .offersblock .product-item .image img {
  height: 85%;
  object-fit: contain;
  transition: all 1s linear;
}
.offers-section .inner-col .offersblock .product-item .image img:last-child:not(:only-child) {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.offers-section .inner-col .offersblock .product-item .image:hover img:first-child {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.offers-section .inner-col .offersblock .product-item .image:hover img:last-child {
  display: block;
  visibility: visible;
  opacity: 1;
}
.offers-section .inner-col .offersblock .product-item .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  height: 4rem;
  position: absolute;
  top: 1rem;
  right: 0;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.offers-section .inner-col .offersblock .product-item .icons #icon {
  font-size: 1.3rem;
  padding: 0.6rem;
  color: var(--gray1);
  background: transparent;
  border: none;
}
.offers-section .inner-col .offersblock .product-item .icons #icon:hover {
  color: var(--primary);
}
.offers-section .inner-col .offersblock .product-item .product-content {
  gap: 0.3rem;
  width: 100%;
  background-color: transparent;
}
.offers-section .inner-col .offersblock .product-item .product-content h4 {
  text-align: center;
}
.offers-section .inner-col .offersblock .product-item .product-content .price {
  flex-wrap: nowrap;
  gap: 1.3rem;
  width: 100%;
  background-color: transparent;
}
.offers-section .inner-col .offersblock .product-item .product-content .price strong:first-child {
  font-size: 1rem;
  color: var(--gray5);
  text-decoration: line-through !important;
}
.offers-section .inner-col .offersblock .product-item .product-content .price strong:last-child {
  font-size: 1.2rem;
  color: var(--red9);
}
.offers-section .inner-col .offersblock .product-item:hover .icons {
  visibility: visible;
  opacity: 1;
  right: 0.3rem;
}
.offers-section .inner-col .offersblock .owl-nav {
  position: absolute;
  top: -3rem;
  right: 0.2rem;
  width: 6rem;
  height: 2.6rem;
  padding: 0;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.offers-section .inner-col .offersblock .owl-nav .owl-prev,
.offers-section .inner-col .offersblock .owl-nav .owl-next {
  margin: 0 !important;
  padding: 0;
  padding-bottom: 0.4rem !important;
  text-align: center;
  width: 2.4rem;
  height: 100% !important;
  background-color: var(--shin-blue5);
  color: var(--white);
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem;
}
.offers-section .inner-col .offersblock .owl-nav .owl-prev span,
.offers-section .inner-col .offersblock .owl-nav .owl-next span {
  font-size: 2.6rem;
  margin: 0 !important;
  padding: 0 !important;
}
.offers-section .col-left .inner-col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
.offers-section .col-left .inner-col .product-item .image {
  height: 22rem;
}
.offers-section .col-right .inner-col .offersblock .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
}
.offers-section .col-right .inner-col .offersblock .items .product-item .image {
  height: 10rem;
}

/********************
 # Today Deal
********************/
.today-deal-section .section-container {
  flex-wrap: wrap;
  padding: 0;
  border-radius: 0.5rem;
  background: radial-gradient(circle at 72% 60%, var(--gray7) 1%, var(--gray) 40%);
}
.today-deal-section .section-container .col-left {
  flex: 1 1 25rem;
  padding: 3rem;
}
.today-deal-section .section-container .col-left .content {
  gap: 0.5rem;
}
.today-deal-section .section-container .col-left .content span {
  color: var(--orange-red1);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.today-deal-section .section-container .col-left .content h3 {
  color: var(--white);
  font-weight: normal;
}
.today-deal-section .section-container .col-left .content p {
  color: var(--white);
  font-size: 1.35rem;
}
.today-deal-section .section-container .col-left .content .btn5 {
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
}
.today-deal-section .section-container .col-left .content .btn5:hover {
  color: var(--white);
}
.today-deal-section .section-container .col-right {
  flex: 1 1 25rem;
  padding: 2rem;
  height: 100%;
}
.today-deal-section .section-container .col-right .image img {
  height: 10rem;
}

@media (max-width: 768px) {
  .today-deal-section .container {
    flex-direction: column-reverse;
    background: radial-gradient(circle at 51% 25%, var(--gray7) 10%, var(--gray) 49%);
  }
}
/********************
 # New Products
********************/
.new-products-section .product-card {
  box-shadow: var(--box-shadow2);
}

/********************
 # single-page
********************/
#single-page .product-container {
  margin-bottom: 3rem;
}
#single-page .product-container .product-container .col-left .allcategoriesproduct {
  margin-bottom: 1rem;
  gap: 0.2rem;
}
#single-page .product-container .product-container .col-left .allcategoriesproduct .catlink {
  color: var(--gray-color2);
  font-size: 0.9rem;
  font-weight: bold;
}
#single-page .product-container .product-container .col-left .images-block {
  gap: 2rem;
}
#single-page .product-container .product-container .col-left .images-block .small-images {
  height: fit-content;
  gap: 0.5rem;
}
#single-page .product-container .product-container .col-left .images-block .small-images .small-image {
  flex: none;
  max-width: 6rem;
  height: 6rem;
  cursor: pointer;
  padding: 0.3rem;
  border: 1px solid rgb(204, 202, 202);
}
#single-page .product-container .product-container .col-left .images-block .small-images .small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#single-page .product-container .product-container .col-left .images-block .big-image {
  flex: 1 1 25rem;
  position: relative;
}
#single-page .product-container .product-container .col-left .images-block .big-image img {
  width: 100%;
}
#single-page .product-container .product-container .col-left .images-block .lens {
  position: absolute;
  width: 8rem;
  height: 8rem;
  margin-left: 20px;
  background-color: rgba(177, 175, 175, 0.3137254902);
  border: 1px solid #bebebe;
  pointer-events: none;
  display: none;
}
#single-page .product-container .product-container .col-left .images-block .lens.active {
  display: block;
}
#single-page .product-container .product-container .col-right {
  padding: 2rem;
}
#single-page .product-container .product-container .col-right .content {
  width: 100%;
  gap: 0.5rem;
  padding-top: 0.8rem;
  position: relative;
}
#single-page .product-container .product-container .col-right .content .magnifier-img {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 30rem;
  background-color: rgba(177, 175, 175, 0.3137254902);
  border: 1px solid #d4d4d4;
  transition: all 0.3s linear;
  display: none;
}
#single-page .product-container .product-container .col-right .content .magnifier-img.active {
  display: block;
}
#single-page .product-container .product-container .col-right .content h1 {
  font-weight: 800;
}
#single-page .product-container .product-container .col-right .content p {
  font-size: 1rem;
}
#single-page .product-container .product-container .col-right .content span {
  font-weight: bold;
}
#single-page .product-container .product-container .col-right .content .icon {
  font-size: 1.2rem;
  margin: 0 !important;
}
#single-page .product-container .product-container .col-right .content .description-block,
#single-page .product-container .product-container .col-right .content .about-item-block {
  width: 85%;
}
#single-page .product-container .product-container .col-right .content .product-price {
  margin: 0;
  gap: 1rem;
}
#single-page .product-container .product-container .col-right .content .product-price .price {
  font-size: 1.2rem;
  color: var(--orange-red1);
}
#single-page .product-container .product-container .col-right .content .size-block .sizes span {
  cursor: pointer;
  border: 1.9px solid var(--black2);
  padding: 0.3rem 0.8rem;
}
#single-page .product-container .product-container .col-right .content .color-block {
  margin: 0.4rem 0 0.5rem;
}
#single-page .product-container .product-container .col-right .content .color-block .color-circle {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--gray2);
  box-shadow: inset 0 0 0 3px var(--gray9);
}
#single-page .product-container .product-container .col-right .content .product-quantity {
  width: fit-content;
  margin: 0;
  gap: 0.5rem;
  border: 1px solid var(--gray3);
  border-radius: 1rem;
}
#single-page .product-container .product-container .col-right .content .product-quantity .pro-quantity-btn {
  width: 2.1rem;
  height: 2.1rem;
  font-size: 1rem;
  color: var(--gray2);
  background-color: transparent;
  cursor: pointer;
}
#single-page .product-container .product-container .col-right .content .product-quantity .pro-quantity-btn #pro-quantity-no {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0;
  color: var(--gray1);
}
#single-page .product-container .product-container .col-right .content .product-quantity .pro-quantity-btn:first-child {
  border-right: 1px solid var(--gray4);
}
#single-page .product-container .product-container .col-right .content .product-quantity .pro-quantity-btn:nth-child(3) {
  border-left: 1px solid var(--gray4);
}
#single-page .product-container .product-container .col-right .content .btn {
  margin-top: 0.8rem;
  width: 80%;
  border-radius: 2rem;
}

@media (max-width: 510px) {
  .btn {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .images-block {
    flex-direction: column;
    align-items: center;
  }
  .images-block .small-images {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=main.css.map */
