@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none !important;
  outline: none !important;
  transition: all 0.2s linear;
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
}

:root {
  --violet:#ebddf1;
  --violet2:#dfc5ec;
  --violet3:#d8b3eb;
  --violet4:#c998e2;
  --violet5:#bd73e2;
  --violet6:#a544d6;
  --violet7:#a544d6;
  --violet8:#8e2cbe;
  --violet9:#70199b;
  --violet10:#4d106b;
  --violet11:#42106b;
  --transparent-violet:rgba(99, 49, 192, 0.137);
  --yellow:#fafaf6;
  --yellow1:#f8f8e4;
  --yellow2:#e2e0db;
  --yellow3:#dbd7ca;
  --yellow4:#d6d0ba;
  --yellow5:#e7ddb6;
  --yellow6:#f7db6b81;
  --yellow7:#f5e7af;
  --yellow8:#ffeba2;
  --yellow9:#fde077;
  --yellow10:#fdd852;
  --yellow11:#ffcc14;
  --transparent-yellow:#f7db6b4f;
  --transparent-yellow2:#b6b61d27;
  --shin-orange:rgb(255, 153, 0);
  --orange1:rgba(255, 248, 236, 0.774);
  --orange2:rgb(255, 248, 236);
  --orange3:rgb(252, 241, 222);
  --orange4:rgb(252, 235, 204);
  --orange5:rgb(255, 233, 193);
  --orange6:rgb(250, 224, 177);
  --orange7:rgb(247, 212, 147);
  --orange8:rgb(248, 204, 123);
  --orange9:rgb(247, 197, 104);
  --orange10:rgb(248, 191, 85);
  --transparent-orange:#af5e392a;
  --transparent-orange1:#fdad0125;
  --brown11:rgb(185, 121, 0);
  --brown12:rgb(151, 99, 1);
  --red:#ffdada;
  --red2:#f8baba;
  --red3:#f59b9b;
  --red4:#f78484;
  --red5:#f56e6e;
  --red6:#f15a5a;
  --red7:#f34545;
  --red8:#f53030;
  --red9:#f51e1e;
  --red10:#ff0000;
  --red11:#d10202;
  --pink:rgb(255, 25, 82);
  --transparent-green:#738d7b17;
  --transparent-green2:#aef0c244;
  --transparent-green3:#aef0c288;
  --transparent-green4:#aef0c2af;
  --transparent-green5:#52f3823f;
  --transparent-green6:#00ff4c3f;
  --green:#edfcf1;
  --green1:#dbf7e3;
  --green2:#bdf5ce;
  --green3:#aef0c244;
  --green4:#aef0c293;
  --green5:#aef0c2cb;
  --green6:#658f72;
  --green7:#7ef8a3;
  --green8:#27fc67;
  --green9:#07fc50;
  --green10:#03ce40;
  --green11:#00b135;
  --green12:#03912e;
  --green13:#017524;
  --green14:#045a1e;
  --green15:#044919;
  --green16:#053a15;
  --green17:#063113;
  --green18:#05270f;
  --olive1:#027a7a;
  --olive2:#026b6b;
  --olive3:#015050;
  --olive4:#004242;
  --olive5:#013535;
  --transparent-olive:#0aa0a01e;
  --milky1:rgb(208, 241, 253);
  --milky2:rgb(183, 233, 253);
  --aqua:#f1f8f8;
  --aqua1:#eafafa;
  --aqua2:#e3f1f1;
  --aqua3:#d9e4e4;
  --aqua4:#cad8d8;
  --aqua5:#bed1d1;
  --aqua6:#aecece;
  --aqua7:#a0cccc;
  --aqua8:#8bcaca;
  --aqua9:#40f7f7;
  --aqua10:#00c7c7;
  --shin-blue:#60c8fc;
  --shin-blue1:#00b7ff;
  --shin-blue2:#38baf9;
  --shin-blue3:#15acf8;
  --shin-blue4:#05a5f5;
  --shin-blue5:#0077ff;
  --shin-blue6:#0464d1;
  --shin-blue7:#0555b1;
  --shin-blue8:#044794;
  --shin-blue9:#0c3e77;
  --blue:#eef2f7;
  --blue1:#e8ebf0;
  --blue2:#c9d3df;
  --blue3:#acbfd4;
  --blue4:#6a7a8d;
  --blue5:#424b64;
  --blue6:#2b3a5f;
  --blue7:#0734ca;
  --blue8:#052aa1;
  --blue9:#162753;
  --dark-blue:#343a40;
  --dark-blue2:#2a2e35;
  --dark-blue3:#202733;
  --transparent-blue:#176ec021;
  --transparent-gray:rgba(201, 183, 183, 0.075);
  --transparent-gray2:rgba(214, 214, 214, 0.192);
  --light-gray:#8d8d8d;
  --gray:#f2f2f7;
  --gray1:#f0f0f8;
  --gray2:#ebebee;
  --gray3:#e5e5e7;
  --gray4:#c9c9ca;
  --gray5:#999;
  --gray6:#888;
  --gray7:#777;
  --gray8:#666;
  --gray9:#444;
  --gray10:#333;
  --gray11:#222;
  --gray12:#111;
  --gray-yellow0:rgb(235, 236, 201);
  --gray-yellow:rgb(221, 223, 150);
  --gray-yellow1:rgb(214, 216, 125);
  --gray-yellow2:rgb(182, 182, 97);
  --gray-yellow3:rgb(139, 139, 62);
  --gray-yellow4:rgb(112, 112, 49);
  --gray-yellow5:rgb(128, 119, 0);
  --gray-yellow6:rgb(90, 84, 0);
  --orange-red:rgb(255, 87, 25);
  --orange-red1:#ff2002;
  --orange-red2:rgb(255, 38, 0);
  --orange-red3:#d33505;
  --darkbrown:rgb(88, 48, 33);
  --darkbrown1:rgb(83, 59, 50);
  --darkred:#801b1b;
  --darkred1:#790303;
  --darkred2:#530303;
  --darkred3:#460202;
  --white:#fff;
  --white2:#fff;
  --black:#000;
  --black2:#000;
  --primary:#ff5a3c;
  --primary1:#e20202;
  --primary2:#fb3c7f;
  --primary3:#f010f0;
  --primary4:#eed0ee;
  --primary5:#191e2e;
  --primary6:#2a2e3a;
  --primary7:#091a50;
  --primary8:#072380;
  --primary9:#0669aa;
  --primary10:#013629;
  --primary11:#1b011f;
  --primary12:#106b6b;
  --primary13:#004242;
  --primary14:#00c7c7;
  --primary15:#00658d;
  --primary4:#ffbb55;
  --background-color:#f8f9fa;
  --color-info-dark:#7d8da1;
  --color-dark:#363949;
  --color-light:rgba(132, 139, 200, 0.18);
  --color-primary-varient:#111e88;
  --color-dark-varient:#677483;
  --font-mont:"Mont", cursive;
  --font-Rale: "Rale", cursive;
  --box-shadow-varient:0 0.5rem 1.5rem var(--color-light);
  --box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  --box-shadow1:0 0.1rem 1rem rgba(2, 2, 2, 0.4);
  --box-shadow2:0 0.5rem 1.5rem #0d2e2e23;
  --box-shadow3:0 0.3rem 4rem #252c2c2f;
  --box-shadow4:0 0 6px rgba(0, 0, 0, 0.13);
  --box-shadow5:0 1px 0.9rem #fd9103c5;
  --box-shadow6:0 0 3px #eee;
  --box-shadow7:0 0.1rem 1rem #e9290779;
  --box-shadow8:0 0 6px #00c7c7;
  --box-shadow9:0 0 6px #3356ca;
  --box-shadow10:0 0.1rem 0.5rem #fce07b46;
  --box-shadow11:0 0 3px rgba(2, 2, 2, 0.199);
  --box-shadow12:0 0 6px rgba(2, 2, 2, 0.199);
  --box-shadow12: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  --text-shadow:0 0 5px rgb(5, 5, 5);
  --text-shadow2:0 0 4px #fff;
  --text-shadow3:0 0 4px #00ffff9f;
  --text-shadow4:0 0 4px rgb(6, 150, 42);
}

html {
  font-size: 83% !important;
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  html {
    font-size: 73% !important;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 63% !important;
  }
}
body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

.d-flex-r-st-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.d-flex-r-st-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-r-st-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.d-flex-r-c-st {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.d-flex-r-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.d-flex-r-c-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.d-flex-r-bt-st {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.d-flex-r-bt-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.d-flex-r-bt-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.d-flex-r-end-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.d-flex-r-end-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-r-end-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.d-flex-c-st-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.d-flex-c-st-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-c-st-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.d-flex-c-c-st {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.d-flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-c-c-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.d-flex-c-bt-st {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.d-flex-c-bt-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.d-flex-c-bt-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.d-flex-c-end-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.d-flex-c-end-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-c-end-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(125deg, #fb3c7f 0%, #ffc05e 100%);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  margin: 0;
}

ul {
  padding: 0;
}

section {
  padding: 1rem 7%;
  margin-bottom: 2rem;
}

/******************* # BUTTONS ********************/
.add-btn {
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--gray1);
  border: none;
  background-color: transparent;
}

.add-btn:hover {
  color: var(--gray1);
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  outline: 0;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 0;
  transition: all 0.6s linear;
}

.btn:hover {
  color: var(--black);
  background-color: transparent;
}

.btn2 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white2);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow1);
  transition: all 0.3s linear;
  background-color: #397dfc;
}

.btn2:hover {
  box-shadow: 0 0.1rem 1rem #0059ff;
}

.btn3 {
  padding: 0.3rem 1.3rem;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2rem;
  color: var(--white2);
  border: 1px solid var(--blue7);
  background-color: var(--blue7);
  transition: all 0.3s linear;
}

.btn3:hover {
  background-color: transparent;
  color: var(--blue7);
}

.btn4 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  color: var(--white);
  box-shadow: var(--box-shadow-varient);
  background: linear-gradient(to right, #9b059b, rgb(64, 4, 121) 80%);
}

.btn4:hover {
  color: var(--white);
  background: linear-gradient(to right, #056c9b, rgb(158, 108, 204) 80%);
}

.btn5 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.1rem;
  color: var(--primary5);
  outline: none;
  border: 1px solid var(--yellow10);
  background: var(--yellow10);
  box-shadow: var(--box-shadow-varient);
}

.btn5:hover {
  background: transparent;
}

.line-btn {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.1rem;
  color: var(--primary5);
  outline: none;
  border: none;
  background: transparent;
  position: relative;
}

.line-btn::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  width: 100%;
  height: 2px;
  display: block;
  margin: auto;
  transition: 0.5s;
  background-color: var(--black);
  z-index: 0;
}

.line-btn::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  width: 0;
  height: 2px;
  display: block;
  margin: auto;
  transition: 0.5s;
  background-color: var(--gray9);
  z-index: 20;
}

.line-btn:hover::after {
  width: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin: 0;
  color: var(--gray1);
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

/***************
 # products 8
****************/
.slider1-section {
  /* <--> */
}
.slider1-section .slider-container {
  gap: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.slider1-section .slider-container .product-item {
  display: block;
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.slider1-section .slider-container .product-item .image {
  width: 100%;
  height: 18rem;
  margin-bottom: 1.2rem;
  background-color: var(--gray);
  border-bottom: 1px solid var(--gray3);
  position: relative;
}
.slider1-section .slider-container .product-item .image img {
  width: 70%;
  height: 55%;
  object-fit: contain;
  transition: all 0.4s linear;
  position: absolute;
}
.slider1-section .slider-container .product-item .image img:first-child {
  right: 50%;
  transform: translateX(50%);
}
.slider1-section .slider-container .product-item .image img:last-child:not(:only-child) {
  right: -110%;
  transform: translateX(50%);
}
.slider1-section .slider-container .product-item .image:hover img:first-child {
  right: 150%;
}
.slider1-section .slider-container .product-item .image:hover img:last-child {
  right: 50%;
}
.slider1-section .slider-container .product-item .stats {
  position: absolute;
  top: 1.5rem;
  left: 0.9rem;
  height: fit-content;
  gap: 0.7rem;
}
.slider1-section .slider-container .product-item .stats .stat {
  height: fit-content;
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2;
  box-shadow: var(--box-shadow4);
}
.slider1-section .slider-container .product-item .stats .stat.new {
  background-color: var(--shin-blue5);
  color: var(--white2);
}
.slider1-section .slider-container .product-item .stats .stat.top {
  background-color: var(--shin-orange);
  color: var(--white2);
}
.slider1-section .slider-container .product-item .stats .stat.hot {
  background-color: var(--yellow10);
  color: var(--white2);
}
.slider1-section .slider-container .product-item .stats .sale {
  height: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2;
  box-shadow: var(--box-shadow4);
  color: var(--white2);
  background-color: var(--gray9);
}
.slider1-section .slider-container .product-item .icons {
  position: absolute;
  top: 1.5rem;
  right: -3rem;
  width: 3rem;
  height: fit-content;
  gap: 0.5rem;
  background-color: transparent;
  transition: all 0.3s linear;
  opacity: 0;
}
.slider1-section .slider-container .product-item .icons button {
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow11);
}
.slider1-section .slider-container .product-item .icons button #icon {
  font-size: 0.9rem;
  color: var(--black2);
  background: transparent;
}
.slider1-section .slider-container .product-item .icons button:hover {
  background-color: var(--black2);
}
.slider1-section .slider-container .product-item .icons button:hover #icon {
  color: var(--white2);
}
.slider1-section .slider-container .product-item .content {
  gap: 0.7rem;
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  position: relative;
}
.slider1-section .slider-container .product-item .content .colors-circles {
  width: fit-content;
  height: fit-content;
  gap: 1rem;
  margin-bottom: 0.4rem;
  list-style: none;
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer {
  width: 2.1rem;
  height: 2.1rem;
  padding: 0.45rem;
  margin: 0;
  border-radius: 50%;
  box-shadow: var(--box-shadow11);
  cursor: pointer;
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer .color-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  position: relative;
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer .color-circle.checked::before {
  content: "✔";
  color: white;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer:first-child .color-circle {
  background-color: sienna;
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer:nth-child(2) .color-circle {
  background-color: gray;
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer:nth-child(3) .color-circle {
  background-color: green;
}
.slider1-section .slider-container .product-item .content .colors-circles .circle-outer:nth-child(4) .color-circle {
  background-color: blue;
}
.slider1-section .slider-container .product-item .content .product-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  color: var(--gray11);
}
.slider1-section .slider-container .product-item .content .ratings {
  gap: 0.1rem;
}
.slider1-section .slider-container .product-item .content .ratings svg {
  color: var(--yellow10);
  font-size: 1rem;
}
.slider1-section .slider-container .product-item .content .product-price {
  flex-wrap: nowrap;
  width: fit-content;
  gap: 0.7rem;
  margin: 0;
  background-color: transparent;
}
.slider1-section .slider-container .product-item .content .product-price .oldprice {
  color: var(--gray5);
  font-weight: normal;
  text-decoration: line-through !important;
}
.slider1-section .slider-container .product-item .content .product-price .price {
  color: var(--orange-red2);
}
.slider1-section .slider-container .product-item:hover .icons {
  right: 0.6rem;
  opacity: 1;
}
.slider1-section .arrows {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider1-section .arrows .arrow-left,
.slider1-section .arrows .arrow-right {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}
.slider1-section #sliderdots {
  margin-top: 3rem;
}
.slider1-section #sliderdots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.slider1-section #sliderdots .dot.active {
  background-color: #333;
}

@media (max-width: 1100px) {
  .slider1-section .arrows {
    width: 5rem;
    top: 1.5rem;
    left: calc(100% - 5rem) !important;
  }
  .slider1-section .arrows .arrow-left,
  .slider1-section .arrows .arrow-right {
    width: 2rem;
    height: 1.8rem;
    line-height: 1.9rem;
    border-radius: 0;
  }
}
@media (max-width: 360px) {
  .slider1-section #sliderdots {
    display: none;
  }
}
/***************
 # Slider 2
****************/
.slider2-section {
  position: relative;
  /* <--> */
}
.slider2-section .slider-container {
  padding: 0.5rem 0;
  margin: 0 auto;
  gap: 1.5rem;
  background-color: transparent;
}
.slider2-section .slider-container .product-item {
  display: block;
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.slider2-section .slider-container .product-item .image {
  width: 100%;
  height: 17rem;
  margin-bottom: 1.2rem;
  position: relative;
  background-color: var(--gray);
  border-bottom: 1px solid var(--gray3);
}
.slider2-section .slider-container .product-item .image img {
  width: 70%;
  height: 50%;
  object-fit: contain;
  transition: all 0.7s linear;
}
.slider2-section .slider-container .product-item .image img:last-child:not(:only-child) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider2-section .slider-container .product-item .image:hover img:first-child {
  visibility: hidden;
  opacity: 0;
}
.slider2-section .slider-container .product-item .image:hover img:last-child {
  visibility: visible;
  opacity: 1;
}
.slider2-section .slider-container .product-item .stat {
  position: absolute;
  top: 1.9rem;
  left: 0.9rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8;
  font-size: 0.9rem;
  box-shadow: var(--box-shadow4);
}
.slider2-section .slider-container .product-item .stat.new {
  background-color: var(--shin-blue5);
  color: var(--white2);
}
.slider2-section .slider-container .product-item .stat.top {
  background-color: var(--shin-orange);
  color: var(--white2);
}
.slider2-section .slider-container .product-item .stat.hot {
  background-color: var(--yellow10);
  color: var(--white2);
}
.slider2-section .slider-container .product-item .icons {
  position: absolute;
  top: 1.9rem;
  right: 0.5rem;
  width: 3rem;
  height: fit-content;
  gap: 0.5rem;
  background-color: transparent;
  transition: all 0.3s linear;
  opacity: 0;
}
.slider2-section .slider-container .product-item .icons button {
  background-color: var(--white);
  border: 1px solid var(--gray4);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider2-section .slider-container .product-item .icons button #icon {
  font-size: 1rem;
  color: var(--gray7);
  background: transparent;
}
.slider2-section .slider-container .product-item .icons button .fa-heart:hover {
  color: var(--orange-red2) !important;
}
.slider2-section .slider-container .product-item .content {
  gap: 0.7rem;
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  position: relative;
}
.slider2-section .slider-container .product-item .content .product-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  color: var(--gray11);
}
.slider2-section .slider-container .product-item .content p {
  color: var(--gray5);
  padding: 0;
  margin: 0;
}
.slider2-section .slider-container .product-item .content .ratings {
  gap: 0.1rem;
}
.slider2-section .slider-container .product-item .content .ratings svg {
  color: var(--yellow10);
  font-size: 1.1rem;
}
.slider2-section .slider-container .product-item .content .product-price {
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  background-color: transparent;
}
.slider2-section .slider-container .product-item .content .product-price .oldprice {
  color: var(--gray7);
  text-decoration: line-through !important;
}
.slider2-section .slider-container .product-item .content .product-price .price {
  color: var(--orange-red2);
}
.slider2-section .slider-container .product-item:hover .icons {
  opacity: 1;
}
.slider2-section .arrows {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider2-section .arrows .arrow-left,
.slider2-section .arrows .arrow-right {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}
.slider2-section #sliderdots {
  margin-top: 3rem;
}
.slider2-section #sliderdots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.slider2-section #sliderdots .dot.active {
  background-color: #333;
}

@media (max-width: 1100px) {
  .slider2-section .arrows {
    width: 5rem;
    top: 1.5rem;
    left: calc(100% - 5rem) !important;
  }
  .slider2-section .arrows .arrow-left,
  .slider2-section .arrows .arrow-right {
    width: 2rem;
    height: 1.8rem;
    line-height: 1.9rem;
    border-radius: 0;
  }
}
@media (max-width: 360px) {
  .slider2-section #sliderdots {
    display: none;
  }
}
/***************
 # Slider 3
****************/
.slider3-section {
  position: relative;
  /* <--> */
}
.slider3-section .slider-container {
  padding: 0.5rem 0;
  margin: 0 auto;
  gap: 3rem;
  background-color: transparent;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.slider3-section .slider-container .category-item {
  width: 11rem;
  display: block;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.slider3-section .slider-container .category-item .image {
  width: 11rem;
  height: 11rem;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.slider3-section .slider-container .category-item .image img {
  width: 56%;
  height: 45%;
  object-fit: contain;
  transition: all 0.3s linear;
}
.slider3-section .slider-container .category-item .content {
  gap: 0.7rem;
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  position: relative;
}
.slider3-section .slider-container .category-item .content .category-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  color: var(--gray11);
}
.slider3-section .slider-container .category-item:hover .icons {
  opacity: 1;
}
.slider3-section .slider-container::-webkit-scrollbar {
  height: 3px;
}
.slider3-section .slider-container::-webkit-scrollbar-thumb {
  background: var(--red11);
  border-radius: 0;
  cursor: grab;
}
.slider3-section .slider-container::-webkit-scrollbar-track {
  background: var(--red);
  border-radius: 0;
  cursor: pointer;
}
.slider3-section .arrows {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider3-section .arrows .arrow-left,
.slider3-section .arrows .arrow-right {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .slider3-section .arrows {
    width: 5rem;
    top: 1.5rem;
    left: calc(100% - 5rem) !important;
  }
  .slider3-section .arrows .arrow-left,
  .slider3-section .arrows .arrow-right {
    width: 2rem;
    height: 1.8rem;
    line-height: 1.9rem;
    border-radius: 0;
  }
}
@media (max-width: 1090px) {
  .slider3-section .slider-container .category-item {
    width: 10rem;
  }
  .slider3-section .slider-container .category-item .image {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 700px) {
  .slider3-section .slider-container .category-item {
    width: 11rem;
  }
  .slider3-section .slider-container .category-item .image {
    width: 11rem;
    height: 11rem;
  }
}
@media (max-width: 360px) {
  .slider3-section {
    padding: 1rem 7%;
  }
  .slider3-section .slider-container .category-item {
    width: 14rem;
  }
  .slider3-section .slider-container .category-item .image {
    width: 14rem;
    height: 14rem;
  }
}
/***************
 # Slider 5
****************/
.slider5-section {
  position: relative;
  /* <--> */
}
.slider5-section .slider-container {
  padding: 0.5rem 0;
  margin: 0 auto;
  gap: 1.5rem;
  background-color: transparent;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.slider5-section .slider-container .product-item {
  display: block;
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.slider5-section .slider-container .product-item .image {
  width: 100%;
  height: 18rem;
  margin-bottom: 1.2rem;
  position: relative;
  background-color: var(--gray);
  border-bottom: 1px solid var(--gray3);
}
.slider5-section .slider-container .product-item .image img {
  width: 56%;
  height: 45%;
  object-fit: contain;
  transition: all 0.7s linear;
}
.slider5-section .slider-container .product-item .image img:last-child:not(:only-child) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider5-section .slider-container .product-item .image:hover img:first-child {
  visibility: hidden;
  opacity: 0;
}
.slider5-section .slider-container .product-item .image:hover img:last-child {
  visibility: visible;
  opacity: 1;
}
.slider5-section .slider-container .product-item .stat {
  position: absolute;
  top: 1.9rem;
  left: 0.9rem;
  height: fit-content;
  padding: 0.2rem 0.6rem 0.1rem;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 1.2;
  font-size: 0.9rem;
  box-shadow: var(--box-shadow4);
}
.slider5-section .slider-container .product-item .stat.new {
  background-color: var(--shin-blue5);
  color: var(--white2);
}
.slider5-section .slider-container .product-item .stat.top {
  background-color: var(--shin-orange);
  color: var(--white2);
}
.slider5-section .slider-container .product-item .stat.hot {
  background-color: var(--yellow10);
  color: var(--white2);
}
.slider5-section .slider-container .product-item .icons {
  width: 2.5rem;
  height: fit-content;
  position: absolute;
  top: 1.9rem;
  right: 1rem;
  border: 1px solid var(--gray4);
  padding: 0;
  background-color: transparent;
  transition: all 0.3s linear;
  opacity: 0;
}
.slider5-section .slider-container .product-item .icons button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.6rem 0.4rem;
}
.slider5-section .slider-container .product-item .icons button:first-child {
  border-bottom: 1px solid var(--gray4);
}
.slider5-section .slider-container .product-item .icons button:nth-child(2) {
  border-bottom: 1px solid var(--gray4);
}
.slider5-section .slider-container .product-item .icons button #icon {
  font-size: 1rem;
  color: var(--gray10);
  background: transparent;
}
.slider5-section .slider-container .product-item .icons button:hover {
  background-color: var(--black);
}
.slider5-section .slider-container .product-item .icons button:hover #icon {
  color: var(--white2);
}
.slider5-section .slider-container .product-item .icons:hover {
  border-color: var(--gray5);
}
.slider5-section .slider-container .product-item .icons:hover button:first-child {
  border-bottom-color: var(--gray5);
}
.slider5-section .slider-container .product-item .icons:hover button:nth-child(2) {
  border-bottom-color: var(--gray5);
}
.slider5-section .slider-container .product-item .content {
  gap: 0.7rem;
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  position: relative;
}
.slider5-section .slider-container .product-item .content .product-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  color: var(--gray11);
}
.slider5-section .slider-container .product-item .content p {
  color: var(--gray5);
  padding: 0;
  margin: 0;
}
.slider5-section .slider-container .product-item .content .ratings {
  gap: 0.1rem;
}
.slider5-section .slider-container .product-item .content .ratings svg {
  color: var(--yellow10);
  font-size: 1.1rem;
}
.slider5-section .slider-container .product-item .content .product-price {
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  background-color: transparent;
}
.slider5-section .slider-container .product-item .content .product-price .oldprice {
  color: var(--gray7);
  text-decoration: line-through !important;
}
.slider5-section .slider-container .product-item .content .product-price .price {
  color: var(--orange-red2);
}
.slider5-section .slider-container .product-item:hover .icons {
  opacity: 1;
}
.slider5-section .slider-container::-webkit-scrollbar {
  height: 3px;
}
.slider5-section .slider-container::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0;
  cursor: grab;
}
.slider5-section .slider-container::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.3411764706);
  border-radius: 0;
  cursor: pointer;
}
.slider5-section .arrows {
  width: 95%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}
.slider5-section .arrows .arrow-left,
.slider5-section .arrows .arrow-right {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .slider5-section .arrows {
    width: 5rem;
    top: 1.5rem;
    left: calc(100% - 5rem) !important;
    visibility: visible;
    opacity: 1;
  }
  .slider5-section .arrows .arrow-left,
  .slider5-section .arrows .arrow-right {
    width: 2rem;
    height: 1.8rem;
    line-height: 1.9rem;
    border-radius: 0;
  }
}
/***************
 # Slider 6
****************/
.slider6-section {
  position: relative;
  /* <--> */
}
.slider6-section .slider-container {
  padding: 0.5rem 0;
  margin: 0 auto;
  gap: 1.5rem;
  background-color: transparent;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.slider6-section .slider-container .category-item {
  display: block;
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.slider6-section .slider-container .category-item .image {
  width: 100%;
  height: 13rem;
  margin-bottom: 1.2rem;
}
.slider6-section .slider-container .category-item .image img {
  width: 66%;
  height: 55%;
  object-fit: contain;
  transition: all 0.3s linear;
}
.slider6-section .slider-container .category-item .content {
  gap: 0.7rem;
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  position: relative;
}
.slider6-section .slider-container .category-item .content .category-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  color: var(--gray11);
}
.slider6-section .slider-container .category-item:hover .icons {
  opacity: 1;
}
.slider6-section .slider-container::-webkit-scrollbar {
  height: 3px;
}
.slider6-section .slider-container::-webkit-scrollbar-thumb {
  background: var(--red11);
  border-radius: 0;
  cursor: grab;
}
.slider6-section .slider-container::-webkit-scrollbar-track {
  background: var(--red);
  border-radius: 0;
  cursor: pointer;
}
.slider6-section .arrows {
  width: 95%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}
.slider6-section .arrows .arrow-left,
.slider6-section .arrows .arrow-right {
  width: 2rem;
  height: 5rem;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}

@media (min-width: 1100px) {
  .slider6-section .slider-container:hover .arrows {
    width: 90%;
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 1100px) {
  .slider6-section .arrows {
    width: 5rem;
    top: 1.5rem;
    left: calc(100% - 5rem) !important;
    visibility: visible;
    opacity: 1;
  }
  .slider6-section .arrows .arrow-left,
  .slider6-section .arrows .arrow-right {
    width: 2rem;
    height: 1.8rem;
    line-height: 1.9rem;
    border-radius: 0;
  }
}
/****************
 # slider 9
****************/
.slider9-section {
  position: relative;
  /* <--> */
}
.slider9-section .slider-container {
  display: flex;
  padding: 0.5rem 0;
  margin: 0 auto;
  gap: 1.5rem;
  background-color: transparent;
  transition: transform 0.4s linear;
}
.slider9-section .slider-container .product-item {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid var(--gray3);
  overflow: hidden;
  position: relative;
}
.slider9-section .slider-container .product-item .image {
  width: 100%;
  height: 15rem;
  margin-bottom: 1.2rem;
  position: relative;
  background-color: var(--gray);
}
.slider9-section .slider-container .product-item .image img {
  width: 80%;
  height: 55%;
  object-fit: contain;
  transition: all 0.7s linear;
}
.slider9-section .slider-container .product-item .image img:last-child:not(:only-child) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider9-section .slider-container .product-item .image:hover img:first-child {
  visibility: hidden;
  opacity: 0;
}
.slider9-section .slider-container .product-item .image:hover img:last-child {
  visibility: visible;
  opacity: 1;
}
.slider9-section .slider-container .product-item .content {
  gap: 0.7rem;
  width: 100%;
  padding: 0.4rem 0.8rem;
  text-align: center;
  position: relative;
}
.slider9-section .slider-container .product-item .content .product-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  color: var(--gray11);
}
.slider9-section .slider-container .product-item .content p {
  color: var(--gray5);
  padding: 0;
  margin: 0;
}
.slider9-section .slider-container .product-item .content .ratings {
  gap: 0.1rem;
}
.slider9-section .slider-container .product-item .content .ratings svg {
  color: var(--yellow10);
  font-size: 1.1rem;
}
.slider9-section .slider-container .product-item .content .content-footer {
  width: 100%;
}
.slider9-section .slider-container .product-item .content .content-footer .price {
  color: var(--gray11);
}
.slider9-section .slider-container .product-item .content .content-footer .icons {
  width: 5.5rem;
}
.slider9-section .slider-container .product-item .content .content-footer .icons button {
  background-color: transparent;
  border: 1px solid var(--gray4);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
}
.slider9-section .slider-container .product-item .content .content-footer .icons button #icon {
  font-size: 1rem;
  color: var(--gray10);
  background: transparent;
}
.slider9-section .slider-container .product-item .content .content-footer .icons button:hover {
  border: 1px solid var(--shin-orange);
}
.slider9-section .arrows {
  width: 95%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider9-section .arrows .arrow-left,
.slider9-section .arrows .arrow-right {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}
.slider9-section #sliderdots {
  margin-top: 3rem;
}
.slider9-section #sliderdots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.slider9-section #sliderdots .dot.active {
  background-color: #333;
}

@media (max-width: 1100px) {
  .slider9-section .arrows {
    width: 5rem;
    top: 1.5rem;
    left: calc(100% - 5rem) !important;
  }
  .slider9-section .arrows .arrow-left,
  .slider9-section .arrows .arrow-right {
    width: 2rem;
    height: 1.8rem;
    line-height: 1.9rem;
    border-radius: 0;
  }
}
@media (max-width: 360px) {
  .slider9-section #sliderdots {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
